* {
    text-decoration: none;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
  }
.refund-policy {
    color: white;
    padding-bottom: 10%;
}  
.refund-policy h1 {
    display: flex;
    padding-top: 3%;
    font-size: 50px;
    text-transform: capitalize;
    justify-content: center;
}
.refund-policy .refund-num .container ol {
    list-style-type: upper-roman;
}
ul h3 li{
 display: flex;
 justify-content: space-between;
}
.refund-policy .refund-num ul h3 {
    padding-left: 17%;
    padding-top: 30px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding-bottom: 40px;
}
.refund-policy .refund-num ul li {
    padding-left: 20%;
    width: 70%;
    color: rgb(177, 168, 168);
    font-family: Helvetica;
    overflow-wrap: break-word;
    line-height: 1.9;
    margin-bottom: 10px;
    word-wrap: break-word;
    white-space: normal;
}